################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/2dGame/.vs/2dGame/v16/Browse.VC.opendb
################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/study/v16/Browse.VC.db
/server/.vs/server/v16/Browse.VC.opendb
/client/.vs/client/v16/Browse.VC.opendb
/Multiplexing_server/.vs/Multiplexing_server/v16/Browse.VC.opendb
/2dGame_2/.vs/2dGame_2/v16/Browse.VC.opendb
/APIFramework/.vs/APIFramework/v16/Browse.VC.opendb
/Data_Structure_by_CLang/DataStructure/.vs/DataStructure/v16/Browse.VC.opendb
/Algorithm/.vs/Algorithm/v16/Browse.VC.opendb
